[Unit]
Description=HTTP → HTTPS Redirect
After=network.target

[Service]
ExecStart=/home/ubuntu/http_redirect
WorkingDirectory=/home/ubuntu
Restart=always
User=root

[Install]
WantedBy=multi-user.target
