backend/cache/storage/
backend/logging/logs/
backend/log/logs/
backend/logs/
*.DS_Store
__pycache__/
*.out

# Go binaries
/app
/redirect
/loto_backend
/loto_be
/loto_redirect
/loto_be_redir
/http_redirect
/http_to_https

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.pem

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
